<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2> {{team?.name}} </h2>
            <div> Leader: {{team?.leader.firstName}} {{team?.leader.lastName}}</div>
            <div> Group: {{team?.group.name}}</div>
        </div>

    </div>

    <hr>
    <div class="row">
        <div class="col-md-11">
            <scout-list *ngIf="!scoutAddMode"
                            [teamId]="team.id"
                            [scouts]="team.scouts"
                            (delete)="deleteScout($event)"
                            (add)="addScout()"></scout-list>

            <create-scout (save)="saveScout($event)" (cancel)="cancelCreateScout()" *ngIf="scoutAddMode"> </create-scout>

        </div>
    </div>

</div>