<h1>New Team</h1>
<hr>
<div class="col-md-6">
    <form #newTeamForm="ngForm" (ngSubmit)="saveTeam(newTeamForm.value)" autocomplete="off" novalidate>


        <div class="form-group" [ngClass]="{'error': newTeamForm.controls.name?.invalid &&
                    newTeamForm.controls.name?.touched}">

            <label for="name">Team Name:</label>
            <em *ngIf="newTeamForm.controls.name?.invalid &&
                (newTeamForm.controls.name?.touched)">Required</em>

            <input (ngModel)="name" name="name" required id="name" type="text" class="form-control"
                   placeholder="Name of your team..."/>

        </div>


        <div class="form-group" [ngClass]="{'error': newTeamForm.controls.leader?.invalid &&
                    newTeamForm.controls.leader?.touched}">

            <label for="leader">Leader:</label>
            <em *ngIf="newTeamForm.controls.leader?.invalid &&
                (newTeamForm.controls.leader?.touched)">Required</em>

            <input (ngModel)="leader" name="leader" required id="leader" type="text" class="form-control"
                   placeholder="Scout Leader for team..."/>

        </div>

        <div class="form-group" [ngClass]="{'error': newTeamForm.controls.group?.invalid &&
                    newTeamForm.controls.group?.touched}">

            <label for="group">Group:</label>
            <em *ngIf="newTeamForm.controls.group?.invalid &&
                (newTeamForm.controls.group?.touched)">Required</em>

            <select (ngModel)="group" name="group" required id="group" class="form-control">
                <option *ngFor="let scoutGroup of scoutGroups" value="{{scoutGroup.id}}"> {{scoutGroup.name}} </option>

            </select>


        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" [disabled]="newTeamForm.invalid" class="btn btn-default" (click)="cancel()">Cancel
        </button>
    </form>
</div>